In [1]:
!pip install h2o

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: h2o in /home/hobbes/.local/lib/python3.7/site-packages (3.34.0.7)
Requirement already satisfied: requests in /home/hobbes/.local/lib/python3.7/site-packages (from h2o) (2.27.1)
Requirement already satisfied: future in /usr/lib/python3/dist-packages (from h2o) (0.18.2)
Requirement already satisfied: tabulate in /home/hobbes/.local/lib/python3.7/site-packages (from h2o) (0.8.9)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /home/hobbes/.local/lib/python3.7/site-packages (from requests->h2o) (1.26.8)
Requirement already satisfied: certifi>=2017.4.17 in /home/hobbes/.local/lib/python3.7/site-packages (from requests->h2o) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in /home/hobbes/.local/lib/python3.7/site-packages (from requests->h2o) (3.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in /home/hobbes/.local/lib/python3.7/site-packages (from requests->h2o) (2.0.10)

In [2]:
from datetime import datetime
import pandas as pd
import json
import os
import re

# from azure.storage.blob import BlobClient

import h2o
from h2o.automl import H2OAutoML

In [40]:
j = open('param_h2o.json', 'r').read()
param = json.loads(j)
# param

In [4]:
source_path = param['sourcePath']
saving_path = param['savingPath']
target = param['target']
max_models = int(param['maxModels'])
seed = int(param['seed'])
max_training_time = int(param['maxTrainingTime'])

In [5]:
h2o.init()
# h2o.init(ip = "192.168.59.112", port = 54321)

Checking whether there is an H2O instance running at http://localhost:54321 ..... not found.
Attempting to start a local H2O server...
  Java Version: openjdk version "1.8.0_312"; OpenJDK Runtime Environment (build 1.8.0_312-8u312-b07-0ubuntu1~20.04-b07); OpenJDK 64-Bit Server VM (build 25.312-b07, mixed mode)
  Starting server from /home/hobbes/.local/lib/python3.7/site-packages/h2o/backend/bin/h2o.jar
  Ice root: /tmp/tmprmq7pqbx
  JVM stdout: /tmp/tmprmq7pqbx/h2o_hobbes_started_from_python.out
  JVM stderr: /tmp/tmprmq7pqbx/h2o_hobbes_started_from_python.err
  Server is running at http://127.0.0.1:54321
Connecting to H2O server at http://127.0.0.1:54321 ... successful.

--------------------------  ------------------------------------------------------------------
H2O_cluster_uptime:         02 secs
H2O_cluster_timezone:       America/Sao_Paulo
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.34.0.7
H2O_cluster_version_age:    1 month and 2 days
H2O_cluster_name:           H2O_from_python_hobbes_n3yrdp
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    1.703 Gb
H2O_cluster_total_cores:    4
H2O_cluster_allowed_cores:  4
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://127.0.0.1:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
H2O_API_Extensions:         Amazon S3, XGBoost, Algos, AutoML, Core V3, TargetEncoder, Core V4
Python_version:             3.7.12 final
--------------------------  ------------------------------------------------------------------

In [6]:
df = h2o.import_file(path=source_path)

classification = list(df[target].types.values())[0] == 'enum'

if classification:
    df[target] = df[target].asfactor()

train, test = df.split_frame(ratios=[0.8], seed = seed)

Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%

In [7]:
aml = H2OAutoML(
    max_models = max_models, 
    max_runtime_secs = max_training_time,  
    balance_classes=True, 
    seed = seed
)

aml.train(training_frame = train, y = target)

AutoML progress: |
23:43:17.342: _train param, Dropping bad and constant columns: [merchant_country, merchant_id, status_id, customer_id, delivery_address_country, order_id]

██████████████
23:43:31.381: _train param, Dropping bad and constant columns: [merchant_country, merchant_id, status_id, customer_id, delivery_address_country, order_id]

█████████████████████████████████████████████████| (done) 100%
Model Details
=============
H2OXGBoostEstimator :  XGBoost
Model Key:  XGBoost_1_AutoML_1_20220123_234317


Model Summary:

     number_of_trees
0               37.0

ModelMetricsBinomial: xgboost
** Reported on train data. **

MSE: 0.20007016732161934
RMSE: 0.44729203807089984
LogLoss: 0.586563963560127
Mean Per-Class Error: 0.5
AUC: 0.7816557796981027
AUCPR: 0.9991408825275204
Gini: 0.5633115593962055

Confusion Matrix (Act/Pred) for max f1 @ threshold = 0.11575616151094437:

          False     True   Error             Rate
0  False    0.0     99.0     1.0      (99.0/99.0)
1   True    0.0  32181.0     0.0    (0.0/32181.0)
2  Total    0.0  32280.0  0.0031   (99.0/32280.0)

Maximum Metrics: Maximum metrics at their respective thresholds

                         metric  threshold         value    idx
0                        max f1   0.115756      0.998464  399.0
1                        max f2   0.115756      0.999385  399.0
2                  max f0point5   0.115756      0.997545  399.0
3                  max accuracy   0.115756      0.996933  399.0
4                 max precision   0.915355      1.000000    0.0
5                    max recall   0.115756      1.000000  399.0
6               max specificity   0.915355      1.000000    0.0
7              max absolute_mcc   0.452048      0.055047  273.0
8    max min_per_class_accuracy   0.502622      0.696970  240.0
9   max mean_per_class_accuracy   0.578368      0.741085  189.0
10                      max tns   0.915355     99.000000    0.0
11                      max fns   0.915355  32178.000000    0.0
12                      max fps   0.243670     99.000000  376.0
13                      max tps   0.115756  32181.000000  399.0
14                      max tnr   0.915355      1.000000    0.0
15                      max fnr   0.915355      0.999907    0.0
16                      max fpr   0.243670      1.000000  376.0
17                      max tpr   0.115756      1.000000  399.0

Gains/Lift Table: Avg response rate: 99,69 %, avg score: 57,90 %

,group,cumulative_data_fraction,lower_threshold,lift,cumulative_lift,response_rate,score,cumulative_response_rate,cumulative_score,capture_rate,cumulative_capture_rate,gain,cumulative_gain,kolmogorov_smirnov
0,1,0.010006,0.856313,1.003076,1.003076,1.000000,0.872192,1.000000,0.872192,0.010037,0.010037,0.307635,0.307635,0.010037
1,2,0.020012,0.839965,1.003076,1.003076,1.000000,0.847098,1.000000,0.859645,0.010037,0.020074,0.307635,0.307635,0.020074
2,3,0.030050,0.826050,1.003076,1.003076,1.000000,0.832324,1.000000,0.850519,0.010068,0.030142,0.307635,0.307635,0.030142
3,4,0.040087,0.813599,1.003076,1.003076,1.000000,0.820410,1.000000,0.842980,0.010068,0.040210,0.307635,0.307635,0.040210
4,5,0.050093,0.804847,1.003076,1.003076,1.000000,0.808340,1.000000,0.836061,0.010037,0.050247,0.307635,0.307635,0.050247
5,6,0.100000,0.770472,1.003076,1.003076,1.000000,0.785982,1.000000,0.811068,0.050061,0.100308,0.307635,0.307635,0.100308
6,7,0.150124,0.743962,1.003076,1.003076,1.000000,0.755960,1.000000,0.792668,0.050278,0.150586,0.307635,0.307635,0.150586
7,8,0.200093,0.719919,1.003076,1.003076,1.000000,0.731430,1.000000,0.777375,0.050123,0.200708,0.307635,0.307635,0.200708
8,9,0.300093,0.678475,1.002144,1.002766,0.999071,0.699076,0.999690,0.751284,0.100214,0.300923,0.214412,0.276570,0.270620
9,10,0.400031,0.635150,1.003076,1.002843,1.000000,0.656322,0.999768,0.727560,0.100245,0.401168,0.307635,0.284331,0.370865
10,11,0.500062,0.590557,1.003076,1.002890,1.000000,0.613579,0.999814,0.704759,0.100339,0.501507,0.307635,0.288993,0.471204
11,12,0.600000,0.547126,0.997790,1.002041,0.994730,0.569981,0.998967,0.682310,0.099717,0.601224,-0.220955,0.204054,0.399204
12,13,0.700031,0.500016,0.999659,1.001700,0.996593,0.524701,0.998628,0.659789,0.099997,0.701221,-0.034076,0.170027,0.388090
13,14,0.800124,0.439638,0.999040,1.001368,0.995976,0.470613,0.998296,0.636123,0.099997,0.801218,-0.095955,0.136753,0.356774
14,15,0.900031,0.364279,0.995612,1.000729,0.992558,0.403685,0.997659,0.610322,0.099469,0.900687,-0.438840,0.072860,0.213818
15,16,1.000000,0.115756,0.993440,1.000000,0.990394,0.297116,0.996933,0.579011,0.099313,1.000000,-0.655965,0.000000,0.000000

ModelMetricsBinomial: xgboost
** Reported on cross-validation data. **

MSE: 0.2090421572136495
RMSE: 0.45721128290282764
LogLoss: 0.6067512506728997
Mean Per-Class Error: 0.5
AUC: 0.6862705862892309
AUCPR: 0.998538171067032
Gini: 0.37254117257846175

Confusion Matrix (Act/Pred) for max f1 @ threshold = 0.10080423206090927:

          False     True   Error             Rate
0  False    0.0     99.0     1.0      (99.0/99.0)
1   True    0.0  32181.0     0.0    (0.0/32181.0)
2  Total    0.0  32280.0  0.0031   (99.0/32280.0)

Maximum Metrics: Maximum metrics at their respective thresholds

                         metric  threshold         value    idx
0                        max f1   0.100804      0.998464  399.0
1                        max f2   0.100804      0.999385  399.0
2                  max f0point5   0.100804      0.997545  399.0
3                  max accuracy   0.100804      0.996933  399.0
4                 max precision   0.905072      1.000000    0.0
5                    max recall   0.100804      1.000000  399.0
6               max specificity   0.905072      1.000000    0.0
7              max absolute_mcc   0.393703      0.036249  302.0
8    max min_per_class_accuracy   0.526271      0.624281  219.0
9   max mean_per_class_accuracy   0.592591      0.647183  171.0
10                      max tns   0.905072     99.000000    0.0
11                      max fns   0.905072  32174.000000    0.0
12                      max fps   0.196663     99.000000  386.0
13                      max tps   0.100804  32181.000000  399.0
14                      max tnr   0.905072      1.000000    0.0
15                      max fnr   0.905072      0.999782    0.0
16                      max fpr   0.196663      1.000000  386.0
17                      max tpr   0.100804      1.000000  399.0

Gains/Lift Table: Avg response rate: 99,69 %, avg score: 56,70 %

,group,cumulative_data_fraction,lower_threshold,lift,cumulative_lift,response_rate,score,cumulative_response_rate,cumulative_score,capture_rate,cumulative_capture_rate,gain,cumulative_gain,kolmogorov_smirnov
0,1,0.010006,0.841094,1.003076,1.003076,1.000000,0.861446,1.000000,0.861446,0.010037,0.010037,0.307635,0.307635,0.010037
1,2,0.020012,0.820701,1.003076,1.003076,1.000000,0.830295,1.000000,0.845871,0.010037,0.020074,0.307635,0.307635,0.020074
2,3,0.030112,0.806164,1.003076,1.003076,1.000000,0.813218,1.000000,0.834919,0.010130,0.030204,0.307635,0.307635,0.030204
3,4,0.040025,0.796099,1.003076,1.003076,1.000000,0.800993,1.000000,0.826516,0.009944,0.040148,0.307635,0.307635,0.040148
4,5,0.050000,0.786776,1.003076,1.003076,1.000000,0.791480,1.000000,0.819526,0.010006,0.050154,0.307635,0.307635,0.050154
5,6,0.100031,0.753632,1.002455,1.002766,0.999381,0.769685,0.999690,0.794598,0.050154,0.100308,0.245525,0.276570,0.090207
6,7,0.150062,0.727385,1.002455,1.002662,0.999381,0.739226,0.999587,0.776137,0.050154,0.150461,0.245525,0.266220,0.130259
7,8,0.200465,0.704069,1.001227,1.002301,0.998156,0.715262,0.999227,0.760831,0.050465,0.200926,0.122679,0.230129,0.150421
8,9,0.300031,0.660056,1.001516,1.002041,0.998444,0.681575,0.998967,0.734530,0.099717,0.300643,0.151587,0.204065,0.199633
9,10,0.400093,0.617232,1.002145,1.002067,0.999071,0.638620,0.998993,0.710543,0.100277,0.400920,0.214470,0.206667,0.269607
10,11,0.500031,0.577599,0.999345,1.001523,0.996280,0.597740,0.998451,0.687998,0.099873,0.500792,-0.065487,0.152273,0.248267
11,12,0.600093,0.535982,0.999660,1.001212,0.996594,0.557197,0.998142,0.666188,0.100028,0.600820,-0.033970,0.121218,0.237184
12,13,0.700093,0.490839,1.000280,1.001079,0.997212,0.513935,0.998009,0.644440,0.100028,0.700848,0.027967,0.107899,0.246303
13,14,0.800155,0.436521,0.999660,1.000902,0.996594,0.463437,0.997832,0.621805,0.100028,0.800876,-0.033970,0.090157,0.235220
14,15,0.900000,0.359918,0.996852,1.000452,0.993795,0.400724,0.997384,0.597279,0.099531,0.900407,-0.314814,0.045230,0.132730
15,16,1.000000,0.100037,0.995929,1.000000,0.992875,0.294593,0.996933,0.567010,0.099593,1.000000,-0.407072,0.000000,0.000000

Cross-Validation Metrics Summary:

,,mean,sd,cv_1_valid,cv_2_valid,cv_3_valid,cv_4_valid,cv_5_valid
0,accuracy,0.996933,0.000482,0.996437,0.997212,0.997522,0.997057,0.996437
1,auc,0.684544,0.054854,0.707794,0.627520,0.623966,0.723887,0.739553
2,err,0.003067,0.000482,0.003563,0.002788,0.002478,0.002943,0.003563
3,err_count,19.800000,3.114482,23.000000,18.000000,16.000000,19.000000,23.000000
4,f0point5,0.997545,0.000386,0.997148,0.997768,0.998016,0.997644,0.997148
5,f1,0.998464,0.000242,0.998216,0.998604,0.998759,0.998526,0.998216
6,f2,0.999385,0.000097,0.999285,0.999441,0.999503,0.999410,0.999285
7,lift_top_group,1.003077,0.000485,1.003575,1.002796,1.002484,1.002952,1.003575
8,logloss,0.606751,0.020484,0.580044,0.601029,0.634858,0.617067,0.600759
9,max_per_class_error,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000
10,mcc,NaN,0.000000,NaN,NaN,NaN,NaN,NaN
11,mean_per_class_accuracy,0.500000,0.000000,0.500000,0.500000,0.500000,0.500000,0.500000
12,mean_per_class_error,0.500000,0.000000,0.500000,0.500000,0.500000,0.500000,0.500000
13,mse,0.209042,0.009430,0.196492,0.206247,0.221632,0.214167,0.206672
14,pr_auc,0.998567,0.000198,0.998583,0.998463,0.998289,0.998784,0.998716
15,precision,0.996933,0.000482,0.996437,0.997212,0.997522,0.997057,0.996437
16,r2,-69.077835,13.837240,-54.351620,-73.180855,-88.650750,-71.986520,-57.219444
17,recall,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000
18,rmse,0.457118,0.010313,0.443274,0.454145,0.470778,0.462782,0.454612
19,specificity,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

Scoring History:

,,timestamp,duration,number_of_trees,training_rmse,training_logloss,training_auc,training_pr_auc,training_lift,training_classification_error
0,,2022-01-24 00:43:28,11.296 sec,0.0,0.500000,0.693147,0.500000,0.996933,1.000000,0.003067
1,,2022-01-24 00:43:29,11.850 sec,5.0,0.476128,0.646044,0.672359,0.998294,1.002066,0.003067
2,,2022-01-24 00:43:29,12.028 sec,10.0,0.452516,0.600318,0.705753,0.998636,1.003076,0.003067
3,,2022-01-24 00:43:29,12.259 sec,15.0,0.456109,0.606174,0.718651,0.998677,1.003076,0.003067
4,,2022-01-24 00:43:29,12.427 sec,20.0,0.452172,0.598146,0.744456,0.998866,1.003076,0.003067
5,,2022-01-24 00:43:29,12.585 sec,25.0,0.454337,0.601947,0.753145,0.998967,1.003076,0.003067
6,,2022-01-24 00:43:30,12.737 sec,30.0,0.454331,0.601295,0.764283,0.999018,1.003076,0.003067
7,,2022-01-24 00:43:30,12.926 sec,35.0,0.443748,0.579918,0.778351,0.999122,1.003076,0.003067
8,,2022-01-24 00:43:30,13.035 sec,37.0,0.447292,0.586564,0.781656,0.999141,1.003076,0.003067

Variable Importances:

,variable,relative_importance,scaled_importance,percentage
0,status_created_at,15.591026,1.000000,0.174366
1,customer_phone_number,12.366129,0.793157,0.138300
2,delivery_address_external_id,10.984626,0.704548,0.122850
3,merchant_zip_code,9.642291,0.618451,0.107837
4,delivery_address_latitude,8.373600,0.537078,0.093648
5,delivery_address_zip_code,6.056512,0.388461,0.067735
6,delivery_address_longitude,4.789057,0.307168,0.053560
7,minimum_order_value,4.662842,0.299072,0.052148
8,cpf,4.393958,0.281826,0.049141
9,merchant_latitude,4.085164,0.262020,0.045688
10,order_total_amount,2.509703,0.160971,0.028068
11,origin_platform.IOS,1.841202,0.118094,0.020592
12,customer_phone_area,1.612586,0.103430,0.018035
13,merchant_longitude,1.540508,0.098807,0.017229
14,delivery_time,0.966059,0.061963,0.010804

In [8]:
best_model = aml.get_best_model()

model_info = best_model.model_performance(test)

In [9]:
local_path = os.getcwd()+'/'

In [10]:
model_path_1 = h2o.save_model(model=best_model,path=local_path, force=True)

In [11]:
best_model = model_path_1.split('/')[int(len(model_path_1.split('/'))-1)]

model_id = best_model.split('_')[-2]+best_model.split('_')[-1]
model_name = best_model.split('_')[0]+'_'+model_id
model_date = best_model.split('_')[-2]

In [12]:
test_name = 'test_' + model_id
train_name = 'train_' + model_id

In [13]:
test.as_data_frame().convert_dtypes().to_pickle(test_name + '.csv')
train.as_data_frame().convert_dtypes().to_pickle(train_name + '.csv')

In [14]:
model_path = saving_path + model_name
    
info1 = {
        "id" : str(model_id),
        "name" : str(model_name),
        "date" : datetime. strptime(model_date, '%Y%m%d'),
        "h2o_version" : str(h2o.__version__),
        "seed" : str(seed),
        "target" : str(target),
        "classification" : str(classification),
        "max_runtime" : str(aml.max_runtime_secs),
        "mse" : str(model_info.mse()),
        "rmse" : str(model_info.rmse()),
        "train_path" : str(saving_path + test_name+ '.csv'),
        "test_path" : str(saving_path + train_name+ '.csv'),
        "model_path" : str(saving_path + model_name),
        "columns" : str(list(aml.varimp().index)),
        "varimp" : str(aml.varimp().to_json())
}


if classification == False:
    info2 = {
        "metrics":{
            "mae":str(model_info.mae()),
            "rmsle":str(model_info.rmsle()),
            "r2":str(model_info.r2()),
            "mean_resid_deviance":str(model_info.mean_residual_deviance())
        }
    }

if classification == True:
    try:
        accuracy = str(model_info.accuracy()[0])
        recall = str(model_info.recall()[0])
        precision = str(model_info.precision()[0])
        f0point5 = str(model_info.F0point5()[0])
        f1 = str(model_info.F1()[0])
        f2 = str(model_info.F2()[0])
        error = str(model_info.error()[0])
        max_per_class_error = str(model_info.max_per_class_error()[0])
        specificity = str(model_info.specificity()[0])
    
    except:
        accuracy = str('NULL')
        recall = str('NULL')
        precision = str('NULL')
        f0point5 = str('NULL')
        f1 = str('NULL')
        f2 = str('NULL')
        error = str('NULL')
        max_per_class_error = str('NULL')
        specificity = str('NULL')
        
    info2 = {
        "metrics":{          
            "accuracy" : accuracy,
            "recall" : recall,
            "precision" : precision,
            "f0point5" : f0point5,
            "f1" : f1,
            "f2" : f2,
            "auc" : str(model_info.auc()),
            "error" : error,
            "logloss" : str(model_info.logloss()),
            "max_per_class_error" : max_per_class_error,
            "mean_per_class_accuracy" : str(),
            "mean_per_class_error" : str(model_info.mean_per_class_error()[0]),
            "aucpr" : str(model_info.aucpr()),
            "r2" : str(model_info.r2()),
            "specificity" : specificity
        }
    }

    
info = info1.copy()
info.update(info2)

In [15]:
info_new = pd.DataFrame([info])

info_path = local_path + 'info.csv'

try:
    info_old = pd.read_csv(info_path)
    if info_old.columns[0] == 'Unnamed: 0':
        info_old = info_old.drop(info_old.columns[0], axis=1)
    
    info_save = pd.concat([info_old, info_new])
    info_save.to_csv(info_path, index=False)
except:
    info_new.to_csv(info_path, index=False)

In [16]:
os.rename(model_path_1, local_path + model_name)

In [ ]:
# FIM

In [17]:
# h2o.shutdown(prompt = True)

In [36]:
import ast

info_old = pd.read_csv(info_path)
# ast.literal_eval(info_old['metrics'][0])

In [38]:
json.loads(info_old['varimp'][0])['GLM_1']

{'price_range': 0.1347406085,
 'cs_created_at': 0.2142393112,
 'order_created_at': 0.2639929401,
 'order_total_amount': 0.0204309647,
 'delivery_address_district': 0.1087237397,
 'customer_name': 0.098518271,
 'delivery_address_city': 0.0378153867,
 'minimum_order_value': 0.0010494111,
 'merchant_city': 0.0382788104,
 'merchant_zip_code': 0.0025024681,
 'delivery_time': 0.002581237,
 'origin_platform': 0.0093309757,
 'merchant_timezone': 0.0061754907,
 'delivery_address_state': 0.016167067,
 'merchant_state': 0.0164206886,
 'merchant_longitude': 0.0023088926,
 'takeout_time': 0.0020155215,
 'delivery_address_longitude': 0.0023088926,
 'delivery_address_zip_code': 0.0007867587,
 'value': 0.0007730082,
 'language': 0.0003453972,
 'active': 0.0003801033,
 'order_scheduled': 2.83502e-05,
 'cpf': 0.0001012131,
 'delivery_address_latitude': 0.0002991769,
 'customer_phone_number': 0.0001845882,
 'status_created_at': 0.0001387998,
 'merchant_latitude': 0.0002991769,
 'customer_phone_area': 0.0003467715,
 'res_created_at': 0.0024981485,
 'delivery_address_external_id': 0.001454535,
 'enabled': 0.0147632953}

In [35]:
info_old['metrics'][0]

"{'mae': '2.4556477488740738', 'rmsle': '0.07654125462553706', 'r2': '0.9545039682546748', 'mean_resid_deviance': '16.398140155357446', 'null_degrees_of_freedom': '7936', 'resid_degrees_of_freedom': '7935', 'null_deviance': '2860758.7243610295', 'residual_deviance': '130152.03841307203'}"

In [44]:
info_old

,id,name,date,h2o_version,seed,target,classification,max_runtime,mse,rmse,train_path,test_path,model_path,columns,varimp,metrics
0,20220123235710,StackedEnsemble_20220123235710,2022-01-23,3.34.0.7,1,average_ticket,False,75,16.39814,4.049462,https://s3model.blob.core.windows.net/modeldata/test_2022012323571...,https://s3model.blob.core.windows.net/modeldata/train_202201232357...,https://s3model.blob.core.windows.net/modeldata/StackedEnsemble_20...,"['price_range', 'cs_created_at', 'order_created_at', 'order_total_...","{""GLM_1"":{""price_range"":0.1347406085,""cs_created_at"":0.2142393112,...","{'mae': '2.4556477488740738', 'rmsle': '0.07654125462553706', 'r2'..."