In [1]:
import requests
import time
import json
import pandas as pd

## Get info
The requests.get will return a dataframe in json format, to read it, you'll need to use pandas to transform it to a normal dataframe. Select the name of the model and send it in the json's post.

In [2]:
server = 'http://0.0.0.0:49172/'

In [3]:
info = pd.read_json(requests.get(server).content)
info

,id,name,data,h2o_version,seed,target,mse,rmse,mae,rmsle,r2,mean_resid_deviance,null_degrees_of_freedom,resid_degrees_of_freedom,null_deviance,residual_deviance,aic,train_path,test_path,model_path
0,2022011802156,XGBoost_2022011802156,20220118,3.34.0.7,1,average_ticket,26.36098,5.134295,3.579569,0.088504,0.926862,26.36098,None,None,None,None,0,/home/hobbes/Documents/python/IFood_ML/IFood_A...,/home/hobbes/Documents/python/IFood_ML/IFood_A...,/home/hobbes/Documents/python/IFood_ML/IFood_A...
1,2022011814707,XGBoost_2022011814707,20220118,3.34.0.7,23,average_ticket,21.47282,4.633877,2.925169,0.084763,0.940708,21.47282,None,None,None,None,0,/home/hobbes/Documents/python/IFood_ML/IFood_A...,/home/hobbes/Documents/python/IFood_ML/IFood_A...,/home/hobbes/Documents/python/IFood_ML/IFood_A...

## Preparing
At the cell bellow, we load the csv file, then drop the column 'unamed: 0' and transform the dataframe to json

In [4]:
df = pd.read_csv('https://s3model.blob.core.windows.net/modeldata/test_2022011814707.csv')
df = df.drop(df.columns[0], axis=1)
jdf = df.to_json()

## Post model's name and json dataframe
After selecting the name of the model and converting the dataframe into a json file, you can post it to receive the predictions.

In [ ]:
data = {
    'name': 'XGBoost_2022011802156', 
    'json_df': jdf
}

In [6]:
s = time.time()
try:
    r = requests.post(server, data=data).content
    prediction = pd.read_json(r)
    
    e = time.time()
    print(f'Tempo: {round(e-s,2)} s\n')
    
except Exception as erro:
    e = erro
    print(erro)

Tempo: 8.73 s

In [7]:
prediction

        predict
0     75.229279
1     75.229279
10    37.125568
100   60.262012
1000  38.354130
...         ...
995   66.881584
996   57.805367
997   57.805367
998   61.440636
999   38.354130

[7940 rows x 1 columns]