In [3]:
import requests
import time
import json
import pandas as pd

## Get info
The requests.get will return a dataframe in json format, to read it, you'll need to use pandas to transform it to a normal dataframe. Select the name of the model and send it in the json's post.

In [4]:
server = 'http://0.0.0.0:49174/'

In [5]:
info = pd.read_json(requests.get(server).content)
info

,id,name,date,h2o_version,seed,target,classification,max_runtime,mse,rmse,train_path,test_path,model_path,columns,varimp,metrics
0,2022012410027,StackedEnsemble_2022012410027,2022-01-24,3.34.0.7,5,average_ticket,False,60,16.965948,4.118974,https://s3model.blob.core.windows.net/modeldat...,https://s3model.blob.core.windows.net/modeldat...,https://s3model.blob.core.windows.net/modeldat...,"['price_range', 'cs_created_at', 'order_create...","{""GLM_1"":{""price_range"":0.1348103976,""cs_creat...","{'mae': '2.0866987666775034', 'rmsle': '0.0753..."
1,2022012410230,XGBoost_2022012410230,2022-01-24,3.34.0.7,2,active,True,60,0.186141,0.431440,https://s3model.blob.core.windows.net/modeldat...,https://s3model.blob.core.windows.net/modeldat...,https://s3model.blob.core.windows.net/modeldat...,"['order_created_at', 'cs_created_at', 'custome...","{""XGBoost_1"":{""order_created_at"":0.0,""cs_creat...","{'accuracy': '[0.08786749839782715, 0.99710217..."

In [36]:
idx = 0
info.name[line], info.test_path[idx]

('StackedEnsemble_2022012410027',
 'https://s3model.blob.core.windows.net/modeldata/train_2022012410027.csv')

## Preparing
At the cell bellow, we load the csv file, then drop the column 'unamed: 0' and transform the dataframe to json

In [37]:
df = pd.read_csv(info.test_path[idx])
if df.columns[0] == 'Unnamed: 0':
        df = df.drop(df.columns[0], axis=1)
jdf = df.to_json()

## Post model's name and json dataframe
After selecting the name of the model and converting the dataframe into a json file, you can post it to receive the predictions.

In [38]:
data = {
    'name': info.name[0], 
    'json_df': jdf
}

In [30]:
s = time.time()
try:
    r = requests.post(server, data=data).content
    prediction = pd.read_json(r)
    
    e = time.time()
    print(f'Tempo: {round(e-s,2)} s\n')
    
except Exception as erro:
    e = erro
    print(erro)

Tempo: 66.75 s

In [34]:
prediction

        predict
0     37.733673
1     37.733673
10    60.880897
100   29.537275
1000  59.840357
...         ...
9995  49.329496
9996  29.654942
9997  66.584203
9998  66.584203
9999  59.649552

[32279 rows x 1 columns]