In [2]:
import requests
import time
import json
import pandas as pd

## Get info
The requests.get will return a dataframe in json format, to read it, you'll need to use pandas to transform it to a normal dataframe. Select the name of the model and send it in the json's post.

In [4]:
server = 'http://0.0.0.0:8000/'

In [5]:
info = pd.read_json(requests.get(server).content)
info

,id,name,data,h2o_version,seed,target,mse,rmse,mae,rmsle,r2,mean_resid_deviance,null_degrees_of_freedom,resid_degrees_of_freedom,null_deviance,residual_deviance,aic,train_path,test_path,model_path
0,2022011802156,XGBoost_2022011802156,20220118,3.34.0.7,1,average_ticket,26.36098,5.134295,3.579569,0.088504,0.926862,26.36098,None,None,None,None,0,/home/hobbes/Documents/python/IFood_ML/IFood_A...,/home/hobbes/Documents/python/IFood_ML/IFood_A...,/home/hobbes/Documents/python/IFood_ML/IFood_A...
1,2022011814707,XGBoost_2022011814707,20220118,3.34.0.7,23,average_ticket,21.47282,4.633877,2.925169,0.084763,0.940708,21.47282,None,None,None,None,0,/home/hobbes/Documents/python/IFood_ML/IFood_A...,/home/hobbes/Documents/python/IFood_ML/IFood_A...,/home/hobbes/Documents/python/IFood_ML/IFood_A...

## Preparing
At the cell bellow, we load the csv file, then drop the column 'unamed: 0' and transform the dataframe to json

In [8]:
df = pd.read_csv('https://s3model.blob.core.windows.net/modeldata/test_2022012410230.csv')
if df.columns[0] == 'Unnamed: 0':
        df = df.drop(df.columns[0], axis=1)
jdf = df.to_json()

## Post model's name and json dataframe
After selecting the name of the model and converting the dataframe into a json file, you can post it to receive the predictions.

In [9]:
data = {
    'name': 'XGBoost_2022011802156', 
    'json_df': jdf
}

In [10]:
s = time.time()
try:
    r = requests.post(server, data=data).content
    prediction = pd.read_json(r)
    
    e = time.time()
    print(f'Tempo: {round(e-s,2)} s\n')
    
except Exception as erro:
    e = erro
    print(erro)

Tempo: 17.06 s

In [11]:
df['prediction'] = prediction

In [12]:
df[['average_ticket', 'prediction']].head(20)

    average_ticket  prediction
0               80   75.229279
1               80   75.229279
2               60   56.920063
3               60   59.936527
4               40   39.757759
5               30   28.745728
6               80   74.655296
7               60   57.226406
8               30   29.865685
9               30   29.865685
10              40   37.125568
11              60   58.296207
12              30   28.609526
13              40   39.842613
14              60   59.586781
15              40   40.098213
16              40   37.896694
17              40   38.018944
18              40   38.018944
19             100   95.677467